= button_to "Fill checklist", new_checklist_path, { method: :get, :remote => true, 'data-toggle' => "modal", 'data-target' => '#new', class: 'mdl-button mdl-js-button mdl-button--raised btn-margin'}

#new.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", tabindex: "-1", 'aria-hidden': true}
  .modal-dialog{:role => "document"}
    .modal-content

%table.left-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th.left-data-table__cell--non-numeric Project
      %th Checklist
      %th Updated
      %th Question
      %th Actions
  %tbody
    - @checklists.each do |checklist|
      %tr
        %td= checklist.form.name
        %td= checklist.form.description
        %td= checklist.form.updated_at.strftime("%Y-%m-%d")
        %td
          .progress
            = simple_progress_bar 0.35, alternative: 'success', class: 'bg-success'
            = simple_progress_bar 0.20, alternative: 'warning', class: 'bg-warning'
            = simple_progress_bar 0.10, alternative: 'danger', class: 'bg-danger'




