= @checklist.name
= @checklist.description
- @questions.each do |question|
  %p= question.title
  %p= question.description
  - question.answers.each do |answer|
    %p= answer.status
    %p= answer.comment
