%p= @form.name
%p= @form.description
- @questions.each do |question|
  %p= question.title
  %p= question.description
  = simple_form_for ([@form, question, @answer]) do |f|
    = f.input :comment
    = f.input :status, collection: Answer::STATUS
    = f.button :submit

/= simple_form_for [@checklist, question, @answer] do |f|