= simple_form_for(project) do |f|
  = f.input :title
  %h3 Select checklist to fill:
  = f.input :checklist_id, placeholder: 'Choose checklist' do
    = f.select :checklist_id, options_for_select(      |
    Checklist.all.map{ |checklist| [checklist.name, checklist.id]}) |
  = f.button :button, type: :submit
= button_to "Cancel", root_path, method: :get