= simple_form_for(checklist) do |f|
  = f.input :name
  = f.input :description
  %h3 Questions:
  = f.simple_fields_for :questions do |question|
    = render 'question_fields', f: question
    = link_to_add_association 'Add question', f, :questions
  = f.button :submit, 'Save'

