= button_to "Add checklist", new_checklist_path, method: :get, class: 'mdl-button mdl-js-button mdl-button--raised btn-margin'

%table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th.mdl-data-table__cell--non-numeric Name
      %th Description
      %th Status
      %th Published
      %th Actions
  %tbody
    - @checklists.each do |checklist|
      %tr
        %td= checklist.name
        %td= checklist.description
        %td= checklist.status
        - if checklist.status == 'draft'
          %td= 'Not published'
        - else
          %td= checklist.updated_at.strftime("%Y-%m-%d")
        %td= 'Actions'


